{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set minimumOrderValue = cart.channel.minimumOrderValue %}
{% set total = sylius_order_items_subtotal(cart) %}

{% if total >= minimumOrderValue %}
    {% set buttonClass = "ui huge primary fluid labeled icon button" %}
{% else %}
    {% set buttonClass = "ui huge primary fluid labeled icon button disabled" %}
    {% set formattedMinimum = money.convertAndFormat(minimumOrderValue) %}
    {% set formattedDifference = money.convertAndFormat(minimumOrderValue - total) %}
    <div class="ui icon negative message">
        <i class="warning icon"></i>
        <div class="content">
            <div class="header">{{ 'nedac_sylius_minimum_order_value_plugin.ui.attention'|trans }}</div>
            <p id="nedac-sylius-minimum-order-value-plugin-message" {{ sylius_test_html_attribute('minimum-order-value-plugin-message') }}>{{ 'nedac_sylius_minimum_order_value_plugin.ui.minimum_not_yet_reached'|trans({ '%minimumOrderValue% ': formattedMinimum, '%difference%': formattedDifference })|raw('br') }}</p>
        </div>
    </div>
{% endif %}
<a href="{{ path('sylius_shop_checkout_start') }}" class="{{ buttonClass }}" id="nedac-checkout-button" {{ sylius_test_html_attribute('checkout-button') }}><i class="check icon"></i> {{ 'sylius.ui.checkout'|trans }}</a>
