{% extends 'User/layout.html.twig' %}

{% block body %}
    <p>Confirm your password to proceed.</p>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.password, {label: 'Password'}) }}

        <div>
            <input type="submit" value="Confirm" /> or <a href="{{ cancelUrl }}">Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
