{% extends 'User/layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email, {label: 'Email'}) }}
        {{ form_row(form.password, {label: 'Password'}) }}
        {{ form_row(form.remember_me, {label: 'Remember me'}) }}

        <div>
            <input type="submit" value="Login" />
        </div>
    {{ form_end(form) }}
{% endblock %}
