{% extends 'User/layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email, {label: 'Email'}) }}
        {{ form_row(form.password.first, {label: 'Password'}) }}
        {{ form_row(form.password.second, {label: 'Confirm password'}) }}

        <div>
            <input type="submit" value="Register" />
        </div>
    {{ form_end(form) }}
{% endblock %}
